dash==2.6.0
pandas
gunicorn
numpy
abc_analysis
html
dcc
Input
Output
State
plotly
plotlyexpress
plotly.graph_objects
dash_bootstrap_components
ThemeSwitchAIO
dash.dependencies
dash_bootstrap_templates
app
abc_plot